@charset "UTF-8";
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "League Spartan";
}

body {
  height: 100vh;
}

@font-face {
  font-family: "pixel";
  src: url("../assets/font/VCR_OSD_MONO_1.001.ttf");
}
html {
  /* Personalizar la barra de desplazamiento */
  /* Fondo de la barra de desplazamiento */
  /* La barra de desplazamiento misma */
  /* Cambio de color cuando el mouse pasa sobre la barra */
}
html ::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra vertical */
  height: 12px; /* Altura de la barra horizontal (si existe) */
  display: block;
}
html ::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
  border-radius: 5px; /* Bordes redondeados */
}
html ::-webkit-scrollbar-thumb {
  background-color: #909090; /* Color de la barra */
  border-radius: 10px; /* Bordes redondeados para suavidad */
  border: 2px solid transparent; /* Espacio entre el scrollbar y el track */
  background-clip: padding-box; /* Asegura que el borde sea visible */
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cambia el color cuando está en hover */
}

body header nav {
  width: 100%;
  height: 60px;
  background-color: #f7f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1882352941);
  border-bottom: solid 1px #ffffff;
}
body header nav .logoContainer {
  width: 20%;
  height: 100%;
  margin-left: 20px;
}
body header nav .logoContainer img {
  width: 100%;
}
body header nav ul {
  display: flex;
  margin-right: 50px;
}
body header nav ul li a {
  margin: 5px;
  color: #79797A;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}
body header nav ul li a::after {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #79797A;
  transition: width 0.3s ease, left 0.3s ease;
}
body header nav ul li a:hover::after {
  width: 100%;
  left: 0;
}
body header nav ul li a:not(:hover)::after {
  width: 0;
  left: auto;
  right: 0;
}

body main #servicios {
  text-align: center;
  padding: 20px;
}
body main #servicios h2 {
  font-size: 30px;
  font-weight: 600;
  color: #464648;
}
body main #servicios h3 {
  font-size: 20px;
  margin-top: 10px;
  color: #79797A;
}
body main #servicios p {
  color: #79797A;
  padding: 10px 150px 20px 150px;
}
body main #servicios .serviciosEsteticos {
  display: flex;
  justify-content: center;
}
body main #servicios .serviciosEsteticos .servicioContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #servicios .serviciosEsteticos .servicioContainer .imgContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1254901961);
}
body main #servicios .serviciosEsteticos .servicioContainer .imgContainer .imgServicio {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: 1s;
  cursor: pointer;
}
body main #servicios .serviciosEsteticos .servicioContainer .imgContainer .imgServicio:hover {
  transform: scale(1.2);
}
body main #servicios .serviciosEsteticos .servicioContainer h2 {
  font-size: 17px;
  font-weight: 500;
  color: #79797A;
  margin: 10px;
}
body main #servicios .serviciosMedicos {
  display: flex;
  justify-content: center;
}
body main #servicios .serviciosMedicos .servicioContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #servicios .serviciosMedicos .servicioContainer .imgContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1254901961);
}
body main #servicios .serviciosMedicos .servicioContainer .imgContainer .imgServicio {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: 1s;
  cursor: pointer;
}
body main #servicios .serviciosMedicos .servicioContainer .imgContainer .imgServicio:hover {
  transform: scale(1.2);
}
body main #servicios .serviciosMedicos .servicioContainer h2 {
  font-size: 17px;
  font-weight: 500;
  color: #79797A;
  margin: 10px;
}

body main #pacientes {
  width: 100%;
  height: 100vh;
}

body #consultorio {
  background-color: #f7f9f9;
  padding: 20px;
}
body #consultorio h2 {
  font-size: 30px;
  font-weight: 600;
  color: #464648;
  text-align: center;
  padding-bottom: 10px;
}
body #consultorio .consultorioContainer {
  display: flex;
}
body #consultorio .consultorioContainer .consultorioContainerUno {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #consultorio .consultorioContainer .consultorioContainerUno p {
  color: #79797A;
  padding: 10px 20px;
}
body #consultorio .consultorioContainer .consultorioContainerUno #map {
  width: 90%;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  border: #f7f9f9 1px solid;
}
body #consultorio .consultorioContainer .consultorioContainerUno #map .gm-style-iw-chr {
  display: none;
}
body #consultorio .consultorioContainer .consultorioContainerUno #map .gm-style-iw {
  padding: 0px;
}
body #consultorio .consultorioContainer .consultorioContainerUno #map .gm-style-iw .gm-style-iw-d {
  width: 200px;
  padding: 7px;
  margin: 0px;
  padding-bottom: 0px;
  margin-right: -40px;
}
body #consultorio .consultorioContainer .consultorioContainerUno iframe {
  width: 90%;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1254901961);
  margin-bottom: 20px;
}
body #consultorio .consultorioContainer .consultorioContainerDos {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
  padding: 10px;
  position: relative;
}
body #consultorio .consultorioContainer .consultorioContainerDos .fa-chevron-right,
body #consultorio .consultorioContainer .consultorioContainerDos .fa-chevron-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #f7f9f9;
  opacity: 0.7;
  font-size: 24px;
  z-index: 10;
  font-size: 15px;
}
body #consultorio .consultorioContainer .consultorioContainerDos .fa-chevron-right {
  right: 15px;
}
body #consultorio .consultorioContainer .consultorioContainerDos .fa-chevron-left {
  left: 15px;
}
body #consultorio .consultorioContainer .consultorioContainerDos .consultorioCarrouselContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
body #consultorio .consultorioContainer .consultorioContainerDos .consultorioCarrouselContainer .consultorioCarrousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
body #consultorio .consultorioContainer .consultorioContainerDos .consultorioCarrouselContainer .consultorioCarrousel img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
}
body #consultorio .consultorioContainer .consultorioContainerDos .dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
body #consultorio .consultorioContainer .consultorioContainerDos .dots .dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
body #consultorio .consultorioContainer .consultorioContainerDos .dots .dot.active {
  background-color: #333;
}
body #consultorio .consultorioContainer .consultorioContainerDos ::-webkit-scrollbar {
  display: none;
}

body main #preguntasFrecuentes {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #preguntasFrecuentes h2 {
  font-size: 30px;
  font-weight: 600;
  color: #464648;
}
body main #preguntasFrecuentes .preguntasContainer {
  height: auto;
  width: 70%;
  margin-top: 20px;
}
body main #preguntasFrecuentes .preguntasContainer .preguntaContainer {
  width: 100%;
  height: 30px;
  cursor: pointer;
  transition: 1s;
  overflow: hidden;
  border: solid 0.5px #f7f9f9;
}
body main #preguntasFrecuentes .preguntasContainer .preguntaContainer .pregunta {
  height: 30px;
  background-color: #d5d5d5;
  display: flex;
  align-items: center;
}
body main #preguntasFrecuentes .preguntasContainer .preguntaContainer .pregunta p {
  color: #464648;
  font-size: 20px;
}
body main #preguntasFrecuentes .preguntasContainer .preguntaContainer .pregunta .flechaPregunta {
  width: 9px;
  transition: 1s;
  margin: 5px;
  filter: invert(15%) sepia(3%) saturate(88%) hue-rotate(180deg) brightness(95%) contrast(92%);
}
body main #preguntasFrecuentes .preguntasContainer .preguntaContainer .pregunta .flechaPregunta.rotada {
  transform: rotate(90deg);
}
body main #preguntasFrecuentes .preguntasContainer .preguntaContainer .respuesta {
  background-color: #f7f3f3;
  height: 70px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #preguntasFrecuentes .preguntasContainer .preguntaContainer .respuesta p {
  color: #464648;
}
body main #preguntasFrecuentes .preguntasContainer .preguntaContainer.expandida {
  height: 100px;
}
body main #preguntasFrecuentes .textoPreguntasContainer {
  display: flex;
  margin: 20px;
  align-items: center;
}
body main #preguntasFrecuentes .textoPreguntasContainer .textoPreguntas {
  color: #d5d5d5;
}
body main #preguntasFrecuentes .textoPreguntasContainer a .fa-whatsapp {
  color: #464648;
  margin: 5px;
  transform: translateY(-3px);
  transition: 0.5s;
  font-size: 25px;
}
body main #preguntasFrecuentes .textoPreguntasContainer a .fa-whatsapp:hover {
  color: green;
}

/*# sourceMappingURL=styles.css.map */
