body {
  #consultorio {
    // border: solid 1px red;
    background-color: $blanco;
    padding: 20px;
    h2 {
      font-size: 30px;
      font-weight: 600;
      color: $grisOscuro;
      text-align: center;
      padding-bottom: 10px;
    }
    .consultorioContainer {
      display: flex;
      .consultorioContainerUno {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          color: $gris;
          padding: 10px 20px;
        }
        #map {
          width: 90%;
          height: 250px;
          border-radius: 8px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          outline: none;
          border: $blanco 1px solid;
          .gm-style-iw-chr {
            display: none;
          }
          .gm-style-iw {
            padding: 0px;
            .gm-style-iw-d {
              width: 200px;
              padding: 7px;
              margin: 0px;
              padding-bottom: 0px;
              margin-right: -40px;
            }
          }
        }
        iframe {
          width: 90%;
          border-radius: 20px;
          box-shadow: 0px 0px 7px 3px #00000020;
          margin-bottom: 20px;
        }
      }
      .consultorioContainerDos {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 80vh;
        padding: 10px;
        position: relative;

        .fa-chevron-right,
        .fa-chevron-left {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          color: $blanco;
          opacity: 0.7;
          font-size: 24px;
          z-index: 10;
          font-size: 15px;
        }

        .fa-chevron-right {
          right: 15px;
        }

        .fa-chevron-left {
          left: 15px;
        }

        .consultorioCarrouselContainer {
          width: 100%;
          height: 100%;
          overflow: hidden; // Oculta las partes que se desbordan
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

          .consultorioCarrousel {
            display: flex;
            transition: transform 0.5s ease-in-out; // Animación al deslizar
            img {
              width: 100%;
              height: auto;
              flex-shrink: 0; // Evita que las imágenes se reduzcan
              object-fit: cover;
            }
          }
        }

        .dots {
          position: absolute;
          bottom: 15px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          gap: 10px;
          .dot {
            width: 10px;
            height: 10px;
            background-color: #bbb;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s;
          }

          .dot.active {
            background-color: #333;
          }
        }

        ::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
