body {
  #consultorios {
    border: solid 1px red;
    padding: 20px;
    h2 {
      font-size: 30px;
      font-weight: 600;
      color: $grisOscuro;
      text-align: center;
      padding-bottom: 10px;
    }
    .consultoriosContainer {
      display: flex;
      .consultoriosContainerUno {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          // width: 90%;
          color: $gris;
          padding: 10px 20px;
        }
        #map {
          width: 90%;
          height: 300px;
          border-radius: 8px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          .gm-style-iw-chr {
            display: none;
          }
          .gm-style-iw {
            padding: 0px;
            .gm-style-iw-d {
              width: 200px;
              padding: 7px;
              margin: 0px;
              padding-bottom: 0px;
              margin-right: -40px;
            }
            &:first-child {
              // background-color: red;
            } 
          }
        }
        iframe {
          width: 90%;
          border-radius: 20px;
          box-shadow: 0px 0px 7px 3px #00000020;
          margin-bottom: 20px;
        }
      }
      .consultoriosContainerDos {
        width: 50%;
        border: solid 1px red;
      }
    }
  }
}
