body {
  header {
    nav {
      width: 100%;
      height: 60px;
      background-color: $blanco;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logoContainer {
        width: 20%;
        height: 100%;
        margin-left: 20px;

        img {
          width: 100%;
        }
      }

      ul {
        display: flex;
        margin-right: 50px;

        li {
          a {
            margin: 5px;
            color: $gris;
            cursor: pointer;
            position: relative;
            text-decoration: none; // Elimina subrayados predeterminados

            &::after {
              content: "";
              position: absolute;
              height: 1px;
              left: 0; 
              bottom: 0;
              width: 0; 
              background-color: $gris;
              transition: width 0.3s ease, left 0.3s ease;
            }

            &:hover::after {
              width: 100%; // Expande completamente
              left: 0; // Se asegura de comenzar desde el borde izquierdo
            }

            &:not(:hover)::after {
              width: 0; // Retrae la línea
              left: auto; // Mantiene la retracción hacia la derecha
              right: 0; // Se retrae desde el borde derecho
            }
          }
        }
      }
    }
  }
}
