body {
  main {
    #pacientes {
      width: 100%;
      padding: 20px 0px;
      transition: max-height 1.5s ease; // Se agregó la transición para max-height en el contenedor padre.
      h2 {
        font-size: 24px;
        font-weight: 600;
        color: $grisOscuro;
        text-align: center;
        padding-bottom: 10px;
      }
      .textoPacientesContainer {
        display: flex;
        flex-direction: column;
        margin: 0px 70px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 2px 70px 10px 70px;

        h3 {
          font-size: 50px;
          font-weight: 600;
          color: $grisOscuro;
          text-align: center;
          letter-spacing: 2px;
          color: $grisClaro;
          text-transform: uppercase;
          text-shadow: -1px 1px #00000020;
        }
        .textoPacientes {
          color: $gris;
          z-index: 2;
          a {
            color: $gris;
          }
        }
      }
      .pacientesReviewsContainer {
        border-radius: 5px;
        width: 350px;
        height: 35px;
        margin: auto;
        background-color: #fff;
        border: solid 0.1px $grisClaro;
        box-shadow: 0px 0px 6px 0.5px #00000020;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          width: 100%;
          height: 100%;
          text-decoration: none;
          // border: solid 1px red;
          transform: translateY(2px);
          img {
            width: 70px;
          }
          .pacientesReviews {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: auto;
            gap: 10px;

            .companyName {
              color: $grisOscuro;
              font-weight: 600;
            }
            .rating {
              display: flex;
              align-items: center;
              gap: 5px;
              color: black;
              font-weight: 500;
            }

            .stars {
              color: #f4c150;
              font-size: 18px;
              display: flex;
              gap: 2px;
              transform: translateY(-3px);
            }
            .userRatingsTotal {
              font-size: 10px;
              color: $gris;
              font-weight: 400;
            }
          }
        }
      }
      .pacientesContainer {
        margin: 5px 20px;
        position: relative;
        display: flex;

        .fa-solid {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          font-size: 15px;
          color: $grisOscuro;
          cursor: pointer;
          z-index: 10;
          transition: color 0.3s ease;
        }

        .fa-chevron-left {
          left: -10px;
        }

        .fa-chevron-right {
          right: -10px;
        }

        .fa-solid:hover {
          color: #f4c150;
        }

        #reviewsContainer {
          display: flex;
          font-family: Arial, sans-serif;
          gap: 5px;
          flex-wrap: nowrap;
          overflow-x: auto;
          .reviewDetailsContainer {
            border: solid 0.5px $grisClaro;
            margin: 5px;
            width: 285px;
            border-radius: 10px;
            max-height: 120px;
            border-bottom: 5px solid $grisClaro;
            box-shadow: 0px 0px 6px 0.5px #00000020;
            background-color: #fff;
            overflow: hidden;
            transition: max-height 1.5s ease, box-shadow 1s ease; // Se agregó la transición aquí.
            &:hover {
            
              box-shadow: 0px 0px 6px 1px #00000030;
              max-height: 350px; // Altura cuando el mouse está encima.
            }
            a {
              color: $grisOscuro;
              text-decoration: none;
              .reviewDetails {
                display: flex;
                align-items: center;
                padding: 5px;
                img {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  margin: 4px;
                }

                .nombreFechaContainer {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  border-bottom: 1px solid $grisClaro;

                  .nombre {
                    font-weight: bold;
                    font-size: 12px;
                    color: $grisOscuro;
                    display: flex;
                    justify-content: flex-start;
                  }

                  .fechaEstrellaContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    gap: 5px;

                    .fecha {
                      color: $grisOscuro;
                      font-size: 10px;
                    }

                    .stars {
                      color: #f4c150;
                      font-size: 16px;
                      display: flex;
                      gap: 2px;
                      transform: translateY(-3px);
                    }
                  }
                }
              }
            }

            .reviewText {
              font-size: 10px;
              line-height: 1.5;
              padding: 10px;
              color: $grisOscuro;
              background-color: #f3f3f3;
              border-radius: 0px 0px 5px 5px;
            }
          }
        }
        ::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}


@media (max-width: 737px) {
  body {
    main {
      #pacientes {
        width: 100%;
        height: auto;
        text-align: center;
        h2 {
          font-size: 24px;
          font-weight: 600;
          color: $grisOscuro;
          text-align: center;
          padding-bottom: 0px;
        }
        .textoPacientesContainer {
          display: flex;
          flex-direction: column;
          margin: 0px;
          align-items: center;
          text-align: center;
          justify-content: center;
          margin: 10px 20px;
          h3 {
            font-size: 26px;
            font-weight: 600;
            color: $grisOscuro;
            text-align: center;
            letter-spacing: 2px;
            color: $grisClaro;
            text-transform: uppercase;
            text-shadow: -1px 1px #00000020;
            white-space: nowrap;
            padding-bottom: 5px;
          }
          .textoPacientes {
            color: $gris;
            z-index: 2;
            text-align: justify;
            // border: solid 1px red;
            a {
              color: $gris;
            }
          }
        }
        a {
          text-decoration: none;
          .pacientesReviewsContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            width: 250px;
            height: auto;
            margin: auto;
            background-color: #fff;
            border: solid 0.1px $grisClaro;
            box-shadow: 0px 0px 6px 0.5px #00000020;
            // border: solid 1px red;
            img {
              width: 70px;
            }
            .pacientesReviews {
              margin: 5px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: auto;
              gap: 0px;
              // border: solid 1px red;
              .companyName {
                color: $grisOscuro;
              }
              .rating {
                display: flex;
                align-items: center;
                gap: 4px;
                color: black;
                font-weight: 500;
              }

              .stars {
                color: #f4c150;
                font-size: 18px;
                display: flex;
                gap: 2px;
                transform: translateY(-3px);
              }
              .userRatingsTotal {
                font-size: 10px;
                color: $gris;
                font-weight: 400;
              }
            }
          }
        }
        .pacientesContainer {
          margin: 5px 20px;
          position: relative;
          display: flex;

          .fa-solid {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 15px;
            color: $grisOscuro;
            cursor: pointer;
            z-index: 10; /* Asegura que las flechas estén sobre el contenido */
            transition: color 0.3s ease; /* Transición suave para cambio de color */
          }

          .fa-chevron-left {
            left: -10px; /* Posición de la flecha izquierda */
          }

          .fa-chevron-right {
            right: -10px; /* Posición de la flecha derecha */
          }

          .fa-solid:hover {
            color: #f4c150; /* Cambio de color al pasar el mouse */
          }

          #reviewsContainer {
            display: flex;
            font-family: Arial, sans-serif;
            gap: 5px;
            flex-wrap: nowrap;
            overflow-x: auto;
            .reviewDetailsContainer {
              border: solid 0.5px $grisClaro;
              margin: 5px;
              width: 285px;
              border-radius: 10px;
              max-height: 190px;
              border-bottom: 5px solid $grisClaro;

              background-color: #fff;

              a {
                color: $grisOscuro;
                text-decoration: none;
                .reviewDetails {
                  display: flex;
                  align-items: center;
                  padding: 5px;
                  img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 4px;
                  }

                  .nombreFechaContainer {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    padding-left: 10px;
                    border-bottom: 1px solid $grisClaro;

                    .nombre {
                      font-weight: bold;
                      font-size: 12px;
                      color: $grisOscuro;
                    }

                    .fechaEstrellaContainer {
                      display: flex;
                      flex-direction: row;
                      justify-content: start;
                      align-items: center;
                      gap: 5px;

                      .fecha {
                        color: $grisOscuro;
                        font-size: 10px;
                      }

                      .stars {
                        color: #f4c150;
                        font-size: 16px;
                        display: flex;
                        gap: 2px;
                        transform: translateY(-3px);
                      }
                    }
                  }
                }
              }

              .reviewText {
                font-size: 10px;
                line-height: 1.5;
                padding: 10px;
                color: $grisOscuro;
                background-color: #f3f3f3;
                border-radius: 0px 0px 5px 5px;
              }
            }
          }
          ::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
}
