body {
  main {
    #pacientes {
      width: 100%;
      padding: 20px 0px;
      transition: max-height 1.5s ease; // Se agregó la transición para max-height en el contenedor padre.
      h2 {
        font-size: 24px;
        font-weight: 600;
        color: $grisOscuro;
        text-align: center;
        padding-bottom: 10px;
      }
      .textoPacientesContainer {
        display: flex;
        flex-direction: column;
        margin: 0px 70px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 2px 70px 10px 70px;

        h3 {
          font-size: 50px;
          font-weight: 600;
          color: $grisOscuro;
          text-align: center;
          letter-spacing: 2px;
          color: $grisClaro;
          text-transform: uppercase;
          text-shadow: -1px 1px #00000020;
        }
        .textoPacientes {
          color: $gris;
          z-index: 2;
          a {
            color: $gris;
          }
        }
      }
      .pacientesReviewsContainer {
        border-radius: 5px;
        width: 350px;
        height: 35px;
        margin: auto;
        background-color: #fff;
        border: solid 0.1px $grisClaro;
        box-shadow: 0px 0px 6px 0.5px #00000020;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          width: 100%;
          height: 100%;
          text-decoration: none;

          transform: translateY(2px);
          img {
            width: 70px;
          }
          .pacientesReviews {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: auto;
            gap: 10px;

            .companyName {
              color: $grisOscuro;
              font-weight: 600;
            }
            .rating {
              display: flex;
              align-items: center;
              gap: 5px;
              color: black;
              font-weight: 500;
            }

            .stars {
              color: #f4c150;
              font-size: 18px;
              display: flex;
              gap: 2px;
              transform: translateY(-3px);
            }
            .userRatingsTotal {
              font-size: 10px;
              color: $gris;
              font-weight: 400;
            }
          }
        }
      }
      .pacientesCarrouselContainer {
        position: relative;
        // border: solid 1px red;
        margin-top: 5px;
        display: flex;
        justify-content: center;

        .fa-solid {
          position: absolute;
          cursor: pointer;
        }

        .fa-chevron-left {
          top: 45%;
          left: 7px;
        }

        .fa-chevron-right {
          right: 7px;
          top: 45%;
        }

        .displayNone {
          display: none;
        }

        .fa-solid:hover {
          color: #f4c150;
        }

        .pacientesContainer {
          margin: 0px 20px;
          position: relative;
          display: flex;
          // border: solid 2px rgb(31, 183, 46);
          width: 95%;
          overflow: hidden;

          #reviewsContainer {
            display: flex;
            flex-wrap: nowrap;
            font-family: Arial, sans-serif;
            width: auto;
            overflow: auto;
            // border: solid 5px blue;
            gap: 5px;
            .reviewDetailsContainer {
              border: solid 0.5px $grisClaro;
              border-radius: 10px;
              max-height: 120px;
              border-bottom: 5px solid $grisClaro;
              box-shadow: 0px 0px 6px 0.5px #00000020;
              background-color: #fff;
              overflow: hidden;
              transition: max-height 1.5s ease, box-shadow 1s ease;
              // border: solid 1px pink;
              width: 300px;
              &:hover {
                box-shadow: 0px 0px 6px 1px #00000030;
                max-height: 350px;
              }

              a {
                color: $grisOscuro;
                text-decoration: none;

                .reviewDetails {
                  display: flex;
                  align-items: center;
                  padding: 5px;

                  img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 4px;
                  }

                  .nombreFechaContainer {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid $grisClaro;

                    .nombre {
                      font-weight: bold;
                      font-size: 12px;
                      color: $grisOscuro;
                      display: flex;
                      justify-content: flex-start;
                    }

                    .fechaEstrellaContainer {
                      display: flex;
                      flex-direction: row;
                      justify-content: start;
                      align-items: center;
                      gap: 5px;

                      .fecha {
                        color: $grisOscuro;
                        font-size: 10px;
                      }

                      .stars {
                        color: #f4c150;
                        font-size: 16px;
                        display: flex;
                        gap: 2px;
                        transform: translateY(-3px);
                      }
                    }
                  }
                }
              }

              .reviewText {
                font-size: 10px;
                line-height: 1.3;
                padding: 10px;
                color: $grisOscuro;
                background-color: #f3f3f3;
                border-radius: 0px 0px 5px 5px;
              }
            }
          }
          ::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 737px) {
  body {
    main {
      #pacientes {
        width: 100%;
        height: auto;
        text-align: center;
        h2 {
          font-size: 24px;
          font-weight: 600;
          color: $grisOscuro;
          text-align: center;
          padding-bottom: 0px;
        }
        .textoPacientesContainer {
          display: flex;
          flex-direction: column;
          margin: 0px;
          align-items: center;
          text-align: center;
          justify-content: center;
          margin: 10px 20px;
          h3 {
            font-size: 26px;
            font-weight: 600;
            color: $grisOscuro;
            text-align: center;
            letter-spacing: 2px;
            color: $grisClaro;
            text-transform: uppercase;
            text-shadow: -1px 1px #00000020;
            white-space: nowrap;
            padding-bottom: 5px;
          }
          .textoPacientes {
            color: $gris;
            z-index: 2;
            text-align: justify;
            a {
              color: $gris;
            }
          }
        }
        .pacientesReviewsContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 5px;
          width: 250px;
          height: auto;
          margin: auto;
          background-color: #fff;
          border: solid 0.1px $grisClaro;
          box-shadow: 0px 0px 6px 0.5px #00000020;
          a {
            text-decoration: none;
            img {
              width: 70px;
            }
            .pacientesReviews {
              margin: 5px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: auto;
              gap: 0px;

              .companyName {
                color: $grisOscuro;
              }
              .rating {
                display: flex;
                align-items: center;
                gap: 4px;
                color: black;
                font-weight: 500;
              }

              .stars {
                color: #f4c150;
                font-size: 18px;
                display: flex;
                gap: 2px;
                transform: translateY(-3px);
              }
              .userRatingsTotal {
                font-size: 10px;
                color: $gris;
                font-weight: 400;
              }
            }
          }
        }
        .pacientesCarrouselContainer {
          position: none;
          margin-top: 5px;
          display: flex;
          justify-content: center;
  
          .fa-solid {

            display: none;
          }
  
          .pacientesContainer {
            margin: 5px 25px;
            position: relative;
            display: flex;
            // border: solid 2px rgb(31, 183, 46);
            width: 100%;
            overflow: hidden;
  
            #reviewsContainer {
              display: flex;
              flex-wrap: nowrap;
              font-family: Arial, sans-serif;
              width: auto;
              overflow: auto;
              // border: solid 5px blue;
              gap: 5px;
              .reviewDetailsContainer {
                border: solid 0.5px $grisClaro;
                border-radius: 10px;
                height: auto;
                max-height: none;
                border-bottom: 5px solid $grisClaro;
                box-shadow: 0px 0px 3px 1px #00000020;
                background-color: #fff;
                overflow: auto;
                transition: max-height 1.5s ease, box-shadow 1s ease;
                // border: solid 1px pink;
                width: 300px;
                &:hover {
                  box-shadow: 0px 0px 6px 1px #00000030;
                  max-height: none;
                }
  
                a {
                  color: $grisOscuro;
                  text-decoration: none;
  
                  .reviewDetails {
                    display: flex;
                    align-items: center;
                    padding: 5px;
  
                    img {
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                      margin: 4px;
                    }
  
                    .nombreFechaContainer {
                      width: 100%;
                      display: flex;
                      flex-direction: column;
                      border-bottom: 1px solid $grisClaro;
  
                      .nombre {
                        font-weight: bold;
                        font-size: 12px;
                        color: $grisOscuro;
                        display: flex;
                        justify-content: flex-start;
                      }
  
                      .fechaEstrellaContainer {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        gap: 5px;
  
                        .fecha {
                          color: $grisOscuro;
                          font-size: 10px;
                        }
  
                        .stars {
                          color: #f4c150;
                          font-size: 16px;
                          display: flex;
                          gap: 2px;
                          transform: translateY(-3px);
                        }
                      }
                    }
                  }
                }
  
                .reviewText {
                  font-size: 9.5px;
                  line-height: 1.2;
                  padding: 10px;
                  color: $grisOscuro;
                  background-color: #f3f3f3;
                  border-radius: 0px 0px 5px 5px;
                  height: 100%;
                }
              }
            }
            ::-webkit-scrollbar {
              display: none;
            }
          }
        }
      }
    }
  }
}
