body {
  main {
    #preguntasFrecuentes {
      width: 100%;
      height: auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        font-size: 30px;
        font-weight: 600;
        color: $grisOscuro;
      }
      .preguntasContainer {
        height: auto;
        width: 70%;
        margin-top: 20px;
        .preguntaContainer {
          width: 100%;
          height: 30px;
          cursor: pointer;
          transition: 1s;
          overflow: hidden;
          border: solid 0.5px $blanco;
          .pregunta {
            height: 30px;
            background-color: $grisClaro;
            display: flex;
            align-items: center;
            p {
              color: $grisOscuro;
              font-size: 20px;
            }
            .flechaPregunta {
              width: 9px;
              transition: 1s;
              margin: 5px;
              filter: invert(15%) sepia(3%) saturate(88%) hue-rotate(180deg)
                brightness(95%) contrast(92%);

              &.rotada {
                transform: rotate(90deg);
              }
            }
          }
          .respuesta {
            background-color: $grisMasCaro;
            height: 70px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              color: $grisOscuro;
            }
          }
          &.expandida {
            height: 100px;
          }
        }
      }
      .textoPreguntasContainer {
        display: flex;
        margin: 20px;
        align-items: center;
        .textoPreguntas {
          color: $grisClaro;
        }
        a {
          .fa-whatsapp {
            color: $grisOscuro;
            margin: 5px;
            transform: translateY(-3px);
            transition: 0.5s;
            font-size: 25px;
            &:hover {
              color: green
            }
          }
        }
      }
    }
  }
}
