body {
  main {
    #servicios {
      text-align: center;
      padding: 20px;
      h2 {
        font-size: 30px;
        font-weight: 600;
        color: $grisOscuro;
      }
      h3 {
        font-size: 20px;
        // border: solid 1px red;
        margin-top: 10px;
      }
      p {
        color: $gris;
        padding: 10px 150px 20px 150px;
      }
      .serviciosEsteticos {
        display: flex;
        justify-content: center;
        .servicioContainer {
          width: 20%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .imgContainer {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0px 0px 8px 1px #00000020;
            .imgServicio {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              object-fit: cover;
              transition: 1s;
              cursor: pointer;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
          h2 {
            font-size: 17px;
            font-weight: 500;
            color: $gris;
            margin: 10px;
          }
        }
      }
      .serviciosMedicos {
        display: flex;
        justify-content: center;
        .servicioContainer {
          width: 20%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .imgContainer {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0px 0px 8px 1px #00000020;
            .imgServicio {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              object-fit: cover;
              transition: 1s;
              cursor: pointer;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
          h2 {
            font-size: 17px;
            font-weight: 500;
            color: $gris;
            margin: 10px;
          }
        }
      }
    }
  }
}
